# Import pandas and import csv

In [1]:
import pandas as pd

df1 = pd.read_csv('/kaggle/input/path-of-exile-currency-economy-of-an-online-game/path_of_exile_currency_hardcore_kalandra.csv')
df2 = pd.read_csv('/kaggle/input/path-of-exile-currency-economy-of-an-online-game/path_of_exile_currency_hardcore_standard.csv')
df3 = pd.read_csv('/kaggle/input/path-of-exile-currency-economy-of-an-online-game/path_of_exile_currency_kalandra.csv')
df4 = pd.read_csv('/kaggle/input/path-of-exile-currency-economy-of-an-online-game/path_of_exile_currency_standard.csv')

# Merging the datasets

In [2]:
dataframes = [df1, df2, df3, df4]

df = pd.concat(dataframes)

# Print basic information about the dataset

In [3]:
df.head()

,League,Date,Get,Pay,Value,Confidence,Patch,Hardcore,Standard
0,Hardcore Kalandra,2022-08-19,Blacksmith's Whetstone,Chaos Orb,1.00000,Low,3.19,Yes,No
1,Hardcore Kalandra,2022-08-20,Blacksmith's Whetstone,Chaos Orb,0.09250,Medium,3.19,Yes,No
2,Hardcore Kalandra,2022-08-21,Blacksmith's Whetstone,Chaos Orb,0.07143,High,3.19,Yes,No
3,Hardcore Kalandra,2022-08-22,Blacksmith's Whetstone,Chaos Orb,0.03975,High,3.19,Yes,No
4,Hardcore Kalandra,2022-08-23,Blacksmith's Whetstone,Chaos Orb,0.03048,High,3.19,Yes,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103535 entries, 0 to 38002
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   League      103535 non-null  object
 1   Date        103535 non-null  object
 2   Get         103535 non-null  object
 3   Pay         103535 non-null  object
 4   Value       103535 non-null  float64
 5   Confidence  103535 non-null  object
 6   Patch       103535 non-null  float64
 7   Hardcore    103535 non-null  object
 8   Standard    103535 non-null  object
dtypes: float64(2), object(7)
memory usage: 7.9+ MB

In [5]:
df.describe()

               Value         Patch
count  103535.000000  1.035350e+05
mean      378.787291  3.190000e+00
std      5749.000987  8.881827e-16
min         0.000010  3.190000e+00
25%         0.142860  3.190000e+00
50%         1.957140  3.190000e+00
75%        15.729165  3.190000e+00
max    280000.000000  3.190000e+00